<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="ko" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="ko" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="ko" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="ko" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="ko" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>새 글 쓰기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/Project_KNOC/resource/style/studyWrite.css" />
  </head>
  <body>
    <div class="layout-container">
      <div class="main">
        <div id="article-create" class="content" role="main">
          <div class="content-header">
            <span style="font-size: 24px">새 글 쓰기</span>
            <hr style="border: 0; margin-top: 4px; height: 3px; background: #b8e6e1" />
          </div>

          <div class="panel panel-default clearfix">
            <div class="panel-heading clearfix">
              <div class="avatar clearfix avatar-medium pull-left">
                <a href="/user/info/138252" class="avatar-photo"
                  ><img src="//www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=40"
                /></a>
                <div class="avatar-info">
                  <a class="nickname" href="/user/info/138252" title="KNOC">KNOC</a>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <form
                action="/articles/community/save"
                method="post"
                id="article-form"
                class="article-form"
                role="form"
                onsubmit="return postForm()"
              >
                <fieldset class="form">
                  <input type="hidden" name="_csrf" value="ffedcba6-5eb9-48c8-8889-5f7ed435b5ba" />

                  <div class="form-group has-feedback">
                    <div>
                      <input
                        type="text"
                        name="title"
                        required=""
                        value=""
                        placeholder="제목을 입력해 주세요."
                        class="form-control"
                        id="title"
                      />
                    </div>
                  </div>

                  <div class="form-group has-feedback">
                    <div>
                      <input
                        type="text"
                        name="tagString"
                        value=""
                        placeholder="Tags,"
                        class="form-control"
                        id="tagString"
                      />
                    </div>
                  </div>

                  <div class="form-group has-feedback">
                    <textarea
                      name="text"
                      id="summernote"
                      rows="20"
                      class="form-control input-block-level"
                    ></textarea>
                  </div>
                  <input type="hidden" name="textType" value="HTML" id="textType" />

                  <div class="nav" role="navigation">
                    <fieldset class="buttons">
                      <a
                        href="/Project_KNOC/view/study/studyList.html"
                        class="btn btn-default btn-wide"
                        onclick="return confirm('정말로 취소하시겠습니까?')"
                        >취소 (👉클릭👈)</a
                      >
                      <input
                        type="submit"
                        name="create"
                        class="create btn btn-success btn-wide pull-right"
                        action="create"
                        value="등록"
                        id="create"
                      />
                    </fieldset>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>

        <div id="footer" class="footer" role="contentinfo">
          <div class="row"></div>
        </div>
      </div>
    </div>
  </body>
</html>
