/* ------default------ */
html, body{
	margin: 0;
	padding: 0;
}

body {
  font-family: "Noto Sans KR";
}

input:focus {
	outline:none;
}

button{
	padding: 0;
}

/* ul{
	width : 100%;
} */

h1{
	font-size: 24px;
	font-weight: normal;
	padding-left: 3px;
	padding-bottom: 6px;
	border-bottom: 2px solid #B8E6E1;
}


/* ------main------ */
#carousel-indicators1 {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 0%;
    margin-left: 0%;
    list-style: none;
}

#box-def{
    box-sizing: unset;	
}

#search{
	background-color: hsl(173deg 100% 90%);
	border: none;
	height: 35px;
	width: 35vw;
}

.carousel-bcc{
	background-color: #cafff9;
	border-bottom: 2px solid #B8E6E1;
	margin-bottom: 27px;
}

.bor-bot{
	border-bottom: 2px solid #B8E6E1;
	width: 30vw;
	margin: 0 auto;
}

.searchc1 {
    display: flex;
    background-color: hsl(173deg 100% 90%);
    padding: 0.1vh 0.6vw;
    border-radius: 19px;
    margin: 20px auto;
    width: 40vw;
    border: 3.5px solid hsl(173deg 65% 51%);
    box-sizing: unset;
}

.searchcr {
    flex: 1 1 0%;
    line-height: normal;
    box-sizing: unset;
}

.searchbtn {
	border: none;
	background-color: hsl(173deg 100% 90%);
    margin-left: 1.8vw;
}

.mnc-container{
	width: 1180px;
	margin: 0 auto;
}

.mnc-class{
	width: fit-content;
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 23px;
	margin-top: 30px;
}

.mnc-lcontainer{
	display: flex;
    justify-content: space-between;
}

.mnc-content:hover{
	cursor: pointer;
	
}

.mnc-thumbnail{
	background-color: #b4b4b4;
    width: 260px;
    height: 180px;
}

.mnc-thumbnail img{
	width: 260px; 
	height: 180px;
	}

/* .mnc-heart{
	
} */

.mnc-creator{
    width: 260px;
	font-size: 12px;
	color: #000;
	font-weight: 550;
	margin: 5px 0;
}

.mnc-title{
    width: 260px;
    height: 40px;
	font-size: 14px;
	color: #000;
	font-weight: 450;	
}

.mnc-heartcnt{
	width: fit-content;
    height: 16px;
    font-size: 11px;
    color: #787878;
    font-weight: 1000;
    margin: 5px 0;	
}

.mnc-bor-bot {
    border-bottom: 2px solid #ededed;
    width: 260px;
}

.mnc-price{
    width: 260px;
    height: 40px;
	font-size: 13px;
	color: #000;
	font-weight: 650;
	margin-top: 2px;	
}

.m-cht {
    position: fixed;
    z-index: 100;
    /* top: 0; */
    bottom: 40px;
    /* left: 0; */
    right: 40px;
    width: 67px;
    height: 67px;
}

.m-cht:hover{
	cursor: pointer;
	}
	
#m-cht-box{
    position: fixed;
    z-index: 101;
    /* top: 0; */
    bottom: 40px;
    /* left: 0; */
    right: 40px;
    width: 330px;
    height: 570px;
    /* border: 1px solid #000; */
    background-color: #ededed;
    border-radius: 10px; 
}