@charset "UTF-8";

.mentor-font{
	width: 450px;
	height: auto;
	line-height:100px;
	background-color: #c0c0c0;
	font-size:15px;
	text-align:center;
	display:inline-block;
	margin-top: 3vh;
}

.mentor-wrapper{
margin-top: 3vh;
text-align: center;
background-color: #ddd;
height: 800px;
}

#mentor-bot{ 
    margin-top: 80px;
    margin-left: 240px;
    margin-bottom: 12px;
    width: 1286px;
} 

#mentor-h2{
margin-top: 5vh;
font-size: 24px;
border-bottom : solid 2px #B8E6E1; 
margin-left: 400px;
margin-right: 400px; 
}

.mentor-form{
	display: flex;
    width: 80.5vw;
    margin: 0px auto;
    justify-content: flex-end;
}

.mentor-control{
	width : 200px;
	height: 35px;
}

#mentro-bung{
	width : 100px;
	height: 35px;
	background-color: #B8E6E1;
	font-size : 13px;
	border:none;
	text-align:center;
	transform: translate(0, 1px);
	font-size: 15px;
}

button{
width : 100px;
height: 35px;
background-color: #B8E6E1;
font-size : 11px;
border:none;
text-align:center;
}

a{
text-decoration: none ;
}