@charset "UTF-8";

*{
box-sizing: border-box;

}

#border-bot{
    border-bottom: solid 2px #B8E6E1;
    width: 1180px;
    margin: 80px auto 12px;
}

.center-col{
display: flex;
width: 70vw;
margin: 0px auto;
justify-content: flex-end;
}

.center{
display: flex;
position: absolute;
left:22.5%;
top:40%;
width: auto;
transform :translate(-50%, -50%);
}

.fnete{
display: flex;
position: absolute;
left:41.8%;
top:40%;
width: auto;
transform :translate(-50%, -50%);
}

.ingte{
display: flex;
position: absolute;
left:61.2%;
top:40%;
width: auto;
transform :translate(-50%, -50%);
}


.sing{
display: flex;
position: absolute;
left:80.7%;
top:40%;
width: auto;
transform :translate(-50%, -50%);
}

/*-----------*/

.hello{
display: flex;
position: absolute;
left:22.5%;
top:87%;
width: auto;
transform :translate(-50%, -50%);
}

.poss{
display: flex;
position: absolute;
left:41.8%;
top:87%;
width: auto;
transform :translate(-50%, -50%);
}

.movie{
display: flex;
position: absolute;
left:61.2%;
top:87%;
width: auto;
transform :translate(-50%, -50%);
}

.week{
display: flex;
position: absolute;
left:80.7%;
top:87%;
width: auto;
transform :translate(-50%, -50%);
}

.kig{
transform : translate(1045%, 715%);
}

.item-wrap{
position: relative;
}

.mtl-card{
display : inline-block;
padding:30px;
color:black;
    width: 310px;
    height: 360px;
font-size: 15px;
text-align: left;
border-radius: 8px;
background: #eee;
transition:0.3s;
margin:30px;
text-align: center;
border: 1px solid #b9b9b9;
}

.mtl-card > img{
width:100px;
}

.mtl-card h1{
font-size: 25px;
line-height: 28px;
font-weight: bold;
margin-top: 10px;
margin-bottom: 10px;
}
.mtl-card p{
font-size: 14px;
line-height: 20px;
margin-bottom: 20px;
}
.mtl-card-info{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}
.user-name{
font-size: 15px;
}
.chat, favorite{
display: inline-block;
}
.chat{
margin-right:10px;
}

#coog{
transform :translate(100%, 50%);
}

button{
width : 100px;
height: 35px;
background-color: #B8E6E1;
font-size : 13px;
border:none;
text-align:center;
font-size: 15px;
}

.mtl-col-3{
	position: relative;
    width: 100%;
}
.mtl-center{
	margin: 0 auto;
}

.mtl-wrapper {
	width: 1180px;
    margin: 6.7vh auto 0;
    min-height: 50vh;
}

.mtl-fsfc {
    font-size: 24px;
    color: #3e3a3a;
}

.mtl-bor-bot{
	border-bottom: 2px solid #B8E6E1;
	width: 1180px;
	margin: 5px auto;
}

.mtl-form {
    display: flex;
    margin: 12px auto 0;
    justify-content: flex-end;
}

.mtl-form-content {
    width: 200px;
    height: 35px;
    margin-right: 10px;
}

.mtl-form-control {
	border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
}

#bung{
    width: 100px;
    height: 35px;
    background-color: #B8E6E1;
    border: none;
    text-align: center;
    font-size: 15px;
    border-radius: 0.25rem;
}