@charset "UTF-8";

*{
box-sizing: border-box;

}
#font{
	font-size: 24px;
    margin-top: 13vh;
/* border-bottom : solid 2px #B8E6E1; */
/* margin-left: 400px;
margin-right: 400px; */
}

#border-bot{
    border-bottom: solid 2px #B8E6E1;
    margin-top: 80px;
    margin-left: 239px;
    margin-bottom: 12px;
    width: 1486px;
}

.mtl-form{
	display: flex;
    width: 80.5vw;
    margin: 0px auto;
    justify-content: flex-end;
}

.center{
position: absolute;
left:22.5%;
top:43%;
width: auto;
transform :translate(-50%, -50%);
}

.fnete{
position: absolute;
left:41.8%;
top:43%;
width: auto;
transform :translate(-50%, -50%);
}

.ingte{
position: absolute;
left:61.2%;
top:43%;
width: auto;
transform :translate(-50%, -50%);
}


.sing{
position: absolute;
left:80.7%;
top:43%;
width: auto;
transform :translate(-50%, -50%);
}

/*-----------*/

.hello{
position: absolute;
left:22.5%;
top:87%;
width: auto;
transform :translate(-50%, -50%);
}

.poss{
position: absolute;
left:41.8%;
top:87%;
width: auto;
transform :translate(-50%, -50%);
}

.movie{
position: absolute;
left:61.2%;
top:87%;
width: auto;
transform :translate(-50%, -50%);
}

.week{
position: absolute;
left:80.7%;
top:87%;
width: auto;
transform :translate(-50%, -50%);
}

.kig{
transform : translate(1045%, 715%);
}

.item-wrap{
position: relative;
}

.mtl-card{
display : inline-block;
padding:30px;
color:black;
    width: 18.8vw;
    height: 39vh;
font-size: 15px;
text-align: left;
border-radius: 8px;
background: #eee;
transition:0.3s;
margin:30px;
text-align: center;
    border: 1px solid #b9b9b9;
}

.mtl-card > img{
width:100px;
}

.mtl-card h1{
font-size: 25px;
line-height: 28px;
font-weight: bold;
margin-top: 10px;
margin-bottom: 10px;
}
.mtl-card p{
font-size: 14px;
line-height: 20px;
margin-bottom: 20px;
}
.mtl-card-info{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}
.user-name{
font-size: 15px;
}
.chat, favorite{
display: inline-block;
}
.chat{
margin-right:10px;
}

#coog{
transform :translate(100%, 50%);
}

button{
width : 100px;
height: 35px;
background-color: #B8E6E1;
font-size : 13px;
border:none;
text-align:center;
font-size: 15px;
}
.form-control{
	width : 200px;
	height: 35px;
	/* transform : translate(1045%, 715%); */
}
#bung{
	width : 100px;
	height: 35px;
	background-color: #B8E6E1;
	font-size : 13px;
	border:none;
	text-align:center;
	transform: translate(0, 1px);
	font-size: 15px;
}

.mtl-col-3{
	position: relative;
    width: 100%;
}
.mtl-center{
	margin: 0 auto;
}