@charset "UTF-8";

*{
box-sizing: border-box;

}
#font{
font-size: 24px;
/*border-bottom : solid 2px #B8E6E1;
margin-left: 400px;
margin-right: 400px;*/
margin-top: 13vh;
}

#border-pin{
border-bottom: solid 2px #B8E6E1;
margin-top: 80px;
margin-left: 240px;
margin-bottom: 12px;
width: 1486px;
}

.center{
display: flex;
position: absolute;
left:31.0%;
top:45%;
width: auto;
transform :translate(-50%, -50%);
text-align: center;
}

.fnete{
display: flex;
position: absolute;
left:72%;
top:45%;
width: auto;
transform :translate(-50%, -50%);
}

.item-wrap{
position: relative;
}

.card{
padding:40px;
color:black;
width:35vw;
height:60vh;
font-size: 15px;
text-align: left;
border-radius: 8px;
background: #eee;
transition:0.3s;
margin:30px;
text-align: center;
border: 1px solid #b9b9b9;
}

.card h1{
font-size: 25px;
line-height: 28px;
font-weight: bold;
margin-top: 20px;
margin-bottom: 20px;
}

.row p{
font-size: 14px;
line-height: 20px;
margin-bottom: 20px;
text-align: center;
}

.card-info{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
text-align: center;
}

.chat, favorite{
display: inline-block;
}

.chat{
margin-right:10px;
/*transform :translate(-450%, 150%);*/
margin: 0 auto;
}

.card-chat{
margin: 0 auto;
}
.button-p{
text-decoration: none;
}
button{
display: flex;
width : 100px;
height: 35px;
background-color: #B8E6E1;
/* 0: x축, 4px : y축 */ 
font-size : 13px;
border:none;
text-align:center;
font-size: 15px;
}